@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

@media (min-width: 800px) {
  .col-sm-6 {
    width: 100%;
  }
}
html, body {
  height: 100%;
  min-height: 18em;
}

body {
  margin: 0px;
  padding: 0;
}

/* menu */
nav {
  width: 100%;
  background: #301642;
}

.logo img {
  position: absolute;
  margin-top: 20px;
  margin-left: 35px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

ul {
  width: 80%;
  margin: 0 auto;
  padding: 0px;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

ul li:hover {
  background: #FFFFFF;
}

ul li a:hover {
  color: #1F0022;
}

ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  background: #1F0022;
  text-align: right;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 30px;
  display: none;
}

@media(max-width: 768px) {
  .toggle {
    display: block;
  }
  ul {
    width: 100%;
    display: none;
  }
  ul li {
    display: block;
    text-align: center;
  }
  .active {
    display: block;
  }
}


/* fullscreen*/

.frontend-side {
  background-image: url("images/website-code.png");
}

.pane {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
  min-height: 9em;
  font-size: 2em;
  color: white;
  font-family: 'Open Sans', sans-serif;
	font-weight:300;
;
}
@media(min-width: 800px) {
  .pane {
    /*
    padding-top: 2em;*/
    height: 100%;
  }
}

.pane > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.pane > div .text-content {
  line-height: 1.6em;
  margin-bottom: 1em;
}

.pane > div .text-content .big {
  font-size: 2em;
  padding: 0.35em;
}

.pane > div img {
  height: 1.3em;
}

@media (max-width: 600) {
  .pane > div img {
    display:none;
  }
}
.pane button, .pane a.button {
  font-family: 'Open Sans', sans-serif;
	font-weight:800;
  background: none;
  border: 1px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 15em;
  padding: 0.7em;
  font-size: 0.5em;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: white;
  display: inline-block;
	cursor: pointer;
}

.pane button:hover, .pane a.button:hover {
  text-decoration: none;
  background-color: white;
  border-color: white;
	cursor: pointer;
}

.frontend-side.pane button:hover, .pane a.button:hover {
  color: violet;
}

.bold {
	text-transform:uppercase;
}
.big {
	font-weight:800;
}