@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

body, html {
	height:100%;
	margin:0;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	line-height:1.8em;
	color:#666;
}

/* menu */
nav {
	width: 100%;
	background: #301642;
  }
  
  .menubar {
	font-size: 20px;
  }
  
  .logo img {
	position: absolute;
	margin-top: 12px;
	margin-left: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
  }
  
  ul {
	width: 80%;
	margin: 0 auto;
	padding: 0px;
  }
  
  ul li {
	list-style: none;
	display: inline-block;
	padding: 20px;
  }
  
  ul li:hover {
	background: #FFFFFF;
  }
  
  ul li a:hover {
	color: #1F0022;
  }
  
  ul li a {
	color: #FFFFFF;
	text-decoration: none;
  }
  
  .toggle {
	width: 100%;
	padding: 10px 20px;
	background: #1F0022;
	text-align: right;
	box-sizing: border-box;
	color: #FFFFFF;
	font-size: 30px;
	display: none;
  }
  
  @media(max-width: 768px) {
	.toggle {
	  display: block;
	}
	ul {
	  width: 100%;
	  display: none;
	}
	ul li {
	  display: block;
	  text-align: center;
	}
	.active {
	  display: block;
	}
  }

  /* parralax body */

.paraimg{
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/*
		fixed = parralax
		scroll = normal
	*/
	background-attachment: fixed;
}

.pimg1{
	background-image: url('../images/taken/matt-holmes-1329881-unsplash.jpg');
	min-height: 100%;
}

.pimg2{
	background-image: url('../images/taken/jelleke-vanooteghem-1349785-unsplash.jpg');
	min-height: 400px;
}

.pimg3{
	background-image: url('../images/taken/habila-mazawaje-1350413-unsplash.jpg');
	min-height: 400px;
}

.pimg4{
	background-image: url('../images/taken/reflect.jpg');
	min-height: 400px;
}

.section{
	text-align: center;
	padding: 50px;
}

.section-white{
	background-color: #FFFFFF;
	columns: #000000;;
}

.section-orange{
	background-color: #FF880D;
	color:#FFFFFF;
}

.section-blue{
	background-color: #0086B2;
	color:#FFFFFF;
}

.section-royal-purple{
	background-color: #833BB5;
	color:#FFFFFF;
}

.section-red-purple{
	background-color: #1F0022;
	color:#FFFFFF;
}

.ptext{
	position: absolute;
	top: 50%;
	width:100%;
	font-weight:400;
	text-align:center;
	color: #000;
	font-size: 27px;
	letter-spacing: 6px;
	text-transform: uppercase;
}

.ptext .border{
	background-color: #111;
	color:#fff;
	padding:20px;
	opacity:0.80;
}

.ptext .border.trans{
	background-color: transparent;
}

@media(max-width: 568px){
	.paraimg{
		background-attachment: scroll;
	}
}